@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
  
* {
    max-width: 800px;
    min-width: 280px;
    margin: auto;
}

img{
    width: 100%;
}
:root{
    --cor0:#ebe5c5  ;
    --cor1:#83E1AD  ;
    --cor2:#3DDC84  ;
    --cor3:#2FA866  ;
    --cor4:#1A5C37  ;
    --cor5:#063D1E  ;

    --fonte0: Arial, Helvetica, sans-serif;
    --fonte1:'Bebas neue', cursive;
    --fontr2:'Idroid', sans-serif;

}

@font-face {
    font-family:idroid;
    src: url(fontes/idroid.otf);
}
header{
    background-image: linear-gradient(to bottom, #6ee7a4,#2DA161,#0c572d);
    padding-top: 20px;
    margin: 0px;
    min-height: 220px; 
 
   
}

header>h1{
    color: white;
    font-family: var(--fonte1);
    font-size: 3em;
    margin-bottom: 20px;
    line-height: 85px;
    text-align: center;
}

header>p{
    font-family: var(--fonte0);
    font-size: 1.2em;
    color: white;
    max-width: 600px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 30px;
    text-shadow: 2px 2px 0px rgba(0,0,0,0.466);
    text-align: center;
    margin: auto;
}


#menu>li{
    padding: 0px;
    margin: 0px;
    display: inline;
    margin: 8px;
    text-align: to left;
    font: var(--fonte0);
}

#menu>li>a{
    color: var(--cor1);
    text-decoration: none;
    font-family: var(--fonte0);
    font-weight: bold;
}

#menu>li>a:hover{
background-color: #2fa8652a;
padding: 5px;
border-radius: 4px;
transition-duration: 0.2s;
}
 

main{
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 40px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.371);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

main p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    font-weight: light;
    font-style: normal;
    line-height: 2em;
    margin: 15px 0px;
    text-indent: 28px;
    text-align: justify;
}


main a{
    text-decoration: none;
    color:var(--cor4);
    font-weight: bold;
}

a:hover{
    background-color: rgba(0, 0, 0, 0.081);
    color: var(--cor3);
    text-decoration: underline;
    padding: 5px 3px;
    border-radius: 2px;
}

main img{
width: 100%;
}

h1{
    font: normal lighter 2.5em 'Bebas Neue', cursive;
    color: white;
    text-shadow: 2px 2px 0px rgba(0,0,0,0.466);
    text-align: center;

}
h2{
    font: normal bold 2em idroid, 'Times New Roman';
    color: var(--cor4);
    width: 500px;
    text-align: left;
    display: inline;
}
h3{
    font: normal bold 1em idroid, 'Times New Roman';
    color: var(--cor4);
    background-image:linear-gradient(to right, var(--cor1), white) ;
}
body{
    background-color:var(--cor0);
    margin: auto;
}
section{
    min-width: 400px;
    max-width: 800px;
    margin: auto;
    padding: 15px 15px 20px 15px;
    background-color: white;
}


aside{
background-color: var(--cor1);
padding: 10px;
margin: auto;
border-radius: 10px;
box-shadow: 3px 4px 3px #21734537;
}

aside h4{
background-color:var(--cor4);
padding: 10px;
margin: -10px -10px 0px -10px;
border-radius:10px 10px 0px 0px;
color: white;
}


ul#version{
    list-style-type: '\2714\0020\0020';
columns: 2;
list-style-position: inside;
}

div.video{
    background-color: var(--cor5);
    padding: 20px;
    margin: 0px -55px 30px -55px;
    padding-bottom: 59%;
    position: relative;
}

div.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

body footer{
    background-color: var(--cor5);
    color: white;
    text-align: center;
    padding: 5px;
 
}

footer a{
    color: white;
    font-weight: bold;
    text-decoration: none;
    color: var(--cor1);

}
footer>p>a:hover{
    text-decoration: none;
}

div.pequena{ 
    max-width: 350px;
    margin: auto;
    display: block;
}

a.externo::after{
    content: '\00a0\1f517';
}

